<header>
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="hidden-xs col-sm-9 col-md-10 col-lg-10 welcome-text">
          <span>Chào mừng bạn đến với LokiShop-2018 !</span>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 checkout">
          <a href="http://lokishop-2018.bizwebvietnam.net/checkout" title="Tới trang thanh toán">
            <i class="fa fa-shopping-cart"></i>
            <span>Thanh toán</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mainbar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 logo">
          <a href="http://lokishop-2018.bizwebvietnam.net/" title="Trang chủ">
            <img class="img-responsive" src="./LokiShop-2018_files/logo.png" alt="Logo">
          </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 search-header">
          <div class="search_padding">
            <form action="http://lokishop-2018.bizwebvietnam.net/search" method="get">
              <div class="input-group search_form_action">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" maxlength="70" name="query" id="search" placeholder="Tìm kiếm ...">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-search" type="submit">
                    Tìm kiếm
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 account">

          <a href="http://lokishop-2018.bizwebvietnam.net/account/login">Đăng nhập</a>
          <span>hoặc</span>
          <a href="http://lokishop-2018.bizwebvietnam.net/account/register">Đăng ký</a>

        </div>
      </div>
    </div>
  </div>

  <div class="menu-nav">
    <nav class="menu-header hidden-sm hidden-xs sticky" style="top: -40px;">
      <ul id="nav" class="nav container">


        <li class="nav-item active">
          <a class="nav-link" href="http://lokishop-2018.bizwebvietnam.net/" title="Trang chủ">
            Trang chủ
          </a>
        </li>



        <li class="nav-item">
          <a href="http://lokishop-2018.bizwebvietnam.net/collections/all" class="nav-link" title="Sản phẩm">
            Sản phẩm
            <i class="fa fa-caret-down" data-toggle="dropdown"></i>
          </a>
          <ul class="dropdown-menu">


            <li class="nav-item-lv2">
              <a class="nav-link" href="http://lokishop-2018.bizwebvietnam.net/collections/all" title="Tất cả sản phẩm">
                <i class="fa fa-angle-right"></i>
                <span>Tất cả sản phẩm</span>
              </a>
            </li>



            <li class="nav-item-lv2">
              <a class="nav-link" href="http://lokishop-2018.bizwebvietnam.net/frontpage" title="Sản phẩm mới">
                <i class="fa fa-angle-right"></i>
                <span>Sản phẩm mới</span>
              </a>
            </li>



            <li class="nav-item-lv2">
              <a class="nav-link" href="http://lokishop-2018.bizwebvietnam.net/san-pham-noi-bat" title="Sản phẩm nổi bật">
                <i class="fa fa-angle-right"></i>
                <span>Sản phẩm nổi bật</span>
              </a>
            </li>



            <li class="nav-item-lv2">
              <a class="nav-link" href="http://lokishop-2018.bizwebvietnam.net/san-pham-khuyen-mai" title="Sản phẩm khuyến mãi">
                <i class="fa fa-angle-right"></i>
                <span>Sản phẩm khuyến mãi</span>
              </a>
            </li>


          </ul>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="http://lokishop-2018.bizwebvietnam.net/tin-tuc" title="Blog">
            Blog
          </a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="http://lokishop-2018.bizwebvietnam.net/gioi-thieu" title="Giới thiệu">
            Giới thiệu
          </a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="http://lokishop-2018.bizwebvietnam.net/lien-he" title="Liên hệ">
            Liên hệ
          </a>
        </li>



        <li class="sticky_logo" onclick="window.location.href=&#39;/&#39;">
          <img src="./LokiShop-2018_files/sticky_logo.png" alt="Logo">
        </li>

        <div class="cart-header">
          <div class="top-cart-contain f-right">
            <div class="mini-cart text-xs-center">
              <div class="heading-cart">
                <a href="http://lokishop-2018.bizwebvietnam.net/cart">
                  <span class="cartCount count_item_pr" id="cart-total">9</span>
                  <br>sản phẩm
                </a>
              </div>
              <div class="top-cart-content">
                <ul id="cart-sidebar" class="mini-products-list count_li">
                  <ul class="list-item-cart">
                    <li class="item productid-17441886">
                      <a class="product-image" href="http://lokishop-2018.bizwebvietnam.net/laptop-asus-zenbook-ux305f-fc089h" title="Laptop Asus Zenbook UX305F-FC089H">
                        <img alt="Laptop Asus Zenbook UX305F-FC089H" src="./LokiShop-2018_files/may-tinh-xach-tay-asus-zenbook-ux305f-fc089h-01.jpg">
                      </a>
                      <div class="detail-item">
                        <div class="product-details">
                          <a href="javascript:;" data-id="17441886" title="Xóa" class="remove-item-cart fa fa-times-circle">&nbsp;</a>
                          <p class="product-name text3line">
                            <a href="http://lokishop-2018.bizwebvietnam.net/laptop-asus-zenbook-ux305f-fc089h" title="Laptop Asus Zenbook UX305F-FC089H">Laptop Asus Zenbook UX305F-FC089H</a>
                          </p>
                        </div>
                        <div class="product-details-bottom">
                          <span class="price">17.990.000₫</span>
                          <div class="quantity-select">
                            <input class="variantID" type="hidden" name="variantId" value="17441886">
                            <input type="text" maxlength="12" min="0" class="input-text number-sidebar qty17441886" id="qty17441886" name="Lines"
                             size="4" value="9">
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="top-subtotal">Thành tiền:
                    <span class="price">161.910.000₫</span>
                  </div>
                  <div class="actions">
                    <a href="http://lokishop-2018.bizwebvietnam.net/cart" class="btn btn-style btn-transition btn-to-cart" title="Tới giỏ hàng">
                      <span>
                        <i class="fa fa-shopping-cart"></i> Giỏ hàng</span>
                    </a>
                    <a href="http://lokishop-2018.bizwebvietnam.net/checkout" class="btn btn-style btn-transition btn-checkout" title="Tiến hành thành toán">
                      <span>
                        <i class="fa fa-check"></i> Thanh toán</span>
                    </a>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </nav>
    <div class="sidebar-menu sidebar_menu site-nav-mobile menu-header hidden-md hidden-lg sticky" style="top: 40px;">
      <div class="sidebar-menu-title module-header">
        <div class="module-title">

          <a href="http://lokishop-2018.bizwebvietnam.net/" class="sticky_logo">
            <img src="./LokiShop-2018_files/sticky_logo.png" alt="Logo">
          </a>

          <i class="fa fa-bars"></i>
          <span>MENU</span>
        </div>
        <a class="mobile-cart" href="http://lokishop-2018.bizwebvietnam.net/cart">
          <span class="cart-count-mobile">9</span>
        </a>
      </div>
      <div class="sidebar-menu-content">
        <div class="sidebar-linklists">
          <ul>


            <li class="sidebar-menu-list menu-item collection-sidebar-menu active">
              <a class="ajaxLayer" href="http://lokishop-2018.bizwebvietnam.net/" title="Trang chủ">
                <span>Trang chủ</span>
              </a>

            </li>

            <li class="sidebar-menu-list menu-item collection-sidebar-menu">
              <a class="ajaxLayer" href="http://lokishop-2018.bizwebvietnam.net/collections/all" title="Sản phẩm">
                <span>Sản phẩm</span>
              </a>
              <em>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </em>

              <ul style="display: none" class="lv2">

                <li>
                  <a class="ajaxLayer a_lv2" href="http://lokishop-2018.bizwebvietnam.net/collections/all" title="Tất cả sản phẩm">
                    <span>Tất cả sản phẩm</span>
                  </a>

                </li>

                <li>
                  <a class="ajaxLayer a_lv2" href="http://lokishop-2018.bizwebvietnam.net/frontpage" title="Sản phẩm mới">
                    <span>Sản phẩm mới</span>
                  </a>

                </li>

                <li>
                  <a class="ajaxLayer a_lv2" href="http://lokishop-2018.bizwebvietnam.net/san-pham-noi-bat" title="Sản phẩm nổi bật">
                    <span>Sản phẩm nổi bật</span>
                  </a>

                </li>

                <li>
                  <a class="ajaxLayer a_lv2" href="http://lokishop-2018.bizwebvietnam.net/san-pham-khuyen-mai" title="Sản phẩm khuyến mãi">
                    <span>Sản phẩm khuyến mãi</span>
                  </a>

                </li>

              </ul>

            </li>

            <li class="sidebar-menu-list menu-item collection-sidebar-menu">
              <a class="ajaxLayer" href="http://lokishop-2018.bizwebvietnam.net/tin-tuc" title="Blog">
                <span>Blog</span>
              </a>

            </li>

            <li class="sidebar-menu-list menu-item collection-sidebar-menu">
              <a class="ajaxLayer" href="http://lokishop-2018.bizwebvietnam.net/gioi-thieu" title="Giới thiệu">
                <span>Giới thiệu</span>
              </a>

            </li>

            <li class="sidebar-menu-list menu-item collection-sidebar-menu">
              <a class="ajaxLayer" href="http://lokishop-2018.bizwebvietnam.net/lien-he" title="Liên hệ">
                <span>Liên hệ</span>
              </a>

            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
