<footer class="footer">

  <div class="brands">
    <div class="container">
      <div class="row">
        <div class="owl-carousel owl-theme nav-enable nav-center" data-lg-items="6" data-md-items="5" data-sm-items="4" data-xs-items="3"
         data-xxs-items="2" data-margin="10" data-auto-play="true" data-nav="true">






          <div class="item">
            <a href="" title="">
              <img class="img-responsive" alt="LokiShop-2018" src="https://firebasestorage.googleapis.com/v0/b/lokishop-2018.appspot.com/o/API%2Fimages%2Fbrand_1_image.png?alt=media&token=fba5a263-b5e8-4483-bafb-439bff5e4290"
              />
            </a>
          </div>







          <div class="item">
            <a href="" title="">
              <img class="img-responsive" alt="LokiShop-2018" src="https://firebasestorage.googleapis.com/v0/b/lokishop-2018.appspot.com/o/API%2Fimages%2Fbrand_2_image.png?alt=media&token=038fd431-0314-4d11-bfd5-aff85eef1bb9"
              />
            </a>
          </div>







          <div class="item">
            <a href="" title="">
              <img class="img-responsive" alt="LokiShop-2018" src="https://firebasestorage.googleapis.com/v0/b/lokishop-2018.appspot.com/o/API%2Fimages%2Fbrand_3_image.png?alt=media&token=e95453f5-f300-401f-a756-2c42de136360"
              />
            </a>
          </div>







          <div class="item">
            <a href="" title="">
              <img class="img-responsive" alt="LokiShop-2018" src="http://bizweb.dktcdn.net/thumb/compact/100/305/798/themes/650335/assets/brand_4_image.png?1522816147817"
              />
            </a>
          </div>







          <div class="item">
            <a href="" title="">
              <img class="img-responsive" alt="LokiShop-2018" src="http://bizweb.dktcdn.net/thumb/compact/100/305/798/themes/650335/assets/brand_5_image.png?1522816147817"
              />
            </a>
          </div>







          <div class="item">
            <a href="" title="">
              <img class="img-responsive" alt="LokiShop-2018" src="http://bizweb.dktcdn.net/thumb/compact/100/305/798/themes/650335/assets/brand_6_image.png?1522816147817"
              />
            </a>
          </div>







          <div class="item">
            <a href="" title="">
              <img class="img-responsive" alt="LokiShop-2018" src="http://bizweb.dktcdn.net/thumb/compact/100/305/798/themes/650335/assets/brand_7_image.png?1522816147817"
              />
            </a>
          </div>




















        </div>
      </div>
    </div>
  </div>



  <div class="subscribe_and_socials">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
          <div class="subscribe">
            <h4>Đăng ký nhận tin</h4>
            <div class="form-subscribe">



              <form action="http://dkt.us13.list-manage.com/subscribe/post?u=0bafe4be7e17843051883e746&amp;id=3bdd6e9e3b" method="post" id="mc-embedded-subscribe-form"
               class="mtSubcribeForm" name="mc-embedded-subscribe-form" target="_blank">
                <input id="email" name="EMAIL" type="email" value="" class="input_newsletter subcribe-email form-control" placeholder="Email nhận tin">
                <button type="submit" id="subscribe" name="subscribe" class="btn btn-subscribe">
                  <i class="fa fa-envelope"></i>
                  <span>Đăng ký</span>
                </button>
              </form>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
          <div class="socials">
            <ul class="social-info">





              <!-- defined style classes could be found in update_stylesheet.scss.bwt -->
              <li>
                <a href="#" class="bg-facebook hv-txt-facebook btn-transition" title="facebook">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>





              <!-- defined style classes could be found in update_stylesheet.scss.bwt -->
              <li>
                <a href="#" class="bg-twitter hv-txt-twitter btn-transition" title="twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>





              <!-- defined style classes could be found in update_stylesheet.scss.bwt -->
              <li>
                <a href="#" class="bg-google-plus hv-txt-google-plus btn-transition" title="google plus">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>


            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="foo_info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 store-detail">
          <a class="logo" href="/" title="LokiShop-2018">
            <img class="img-responsive" src="./assets/icons/logo-120x40.png" alt="Logo"
            />
          </a>


          <p class="store-description">
            LokiShop đã và đang tiếp tục khẳng định vị trí quan trọng của người cung cấp thiết bị
            di động và phụ kiện di động liên tục cho thị trường trong nhiều năm qua.
          </p>



          <div class="foo-content payment-methods">
            <ul class="list-menu">







              <li class="payment_method">
                <img src="https://firebasestorage.googleapis.com/v0/b/lokishop-2018.appspot.com/o/API%2Fimages%2Fpayment_1_image.png?alt=media&token=71963816-b751-4a35-9d66-ddd2c5339af3" alt="lokishop-2018"
                 title="LokiShop-2018" class="img-responsive" />
              </li>







              <li class="payment_method">
                <img src="https://firebasestorage.googleapis.com/v0/b/lokishop-2018.appspot.com/o/API%2Fimages%2Fpayment_2_image.png?alt=media&token=89eceb45-8642-48e6-bfe7-71ee01cef23b" alt="lokishop-2018"
                 title="LokiShop-2018" class="img-responsive" />
              </li>







              <li class="payment_method">
                <img src="https://firebasestorage.googleapis.com/v0/b/lokishop-2018.appspot.com/o/API%2Fimages%2Fpayment_3_image.png?alt=media&token=ff365a25-56bb-4332-b373-b1b62ddc828a" alt="lokishop-2018"
                 title="LokiShop-2018" class="img-responsive" />
              </li>







              <li class="payment_method">
                <img src="https://firebasestorage.googleapis.com/v0/b/lokishop-2018.appspot.com/o/API%2Fimages%2Fpayment_4_image.png?alt=media&token=7154cbbf-b909-4416-a95f-be7190b610e9" alt="lokishop-2018"
                 title="LokiShop-2018" class="img-responsive" />
              </li>



            </ul>
          </div>

        </div>





        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col">
          <h4 class="foo-title">
            Về chúng tôi
          </h4>
          <div class="foo-content foo-menu">
            <ul class="list-menu">

              <li class="foo-list-item">
                <a href="/" title="Trang chủ">
                  <i class="fa fa-angle-right"></i>
                  <span>Trang chủ</span>
                </a>
              </li>

              <li class="foo-list-item">
                <a href="/collections/all" title="Sản phẩm">
                  <i class="fa fa-angle-right"></i>
                  <span>Sản phẩm</span>
                </a>
              </li>

              <li class="foo-list-item">
                <a href="/tin-tuc" title="Blog">
                  <i class="fa fa-angle-right"></i>
                  <span>Blog</span>
                </a>
              </li>

              <li class="foo-list-item">
                <a href="/gioi-thieu" title="Giới thiệu">
                  <i class="fa fa-angle-right"></i>
                  <span>Giới thiệu</span>
                </a>
              </li>

              <li class="foo-list-item">
                <a href="/lien-he" title="Liên hệ">
                  <i class="fa fa-angle-right"></i>
                  <span>Liên hệ</span>
                </a>
              </li>

            </ul>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col">
          <h4 class="foo-title">
            Hỗ trợ
          </h4>
          <div class="foo-content foo-menu">
            <ul class="list-menu">

              <li class="foo-list-item">
                <a href="/" title="Trang chủ">
                  <i class="fa fa-angle-right"></i>
                  <span>Trang chủ</span>
                </a>
              </li>

              <li class="foo-list-item">
                <a href="/collections/all" title="Sản phẩm">
                  <i class="fa fa-angle-right"></i>
                  <span>Sản phẩm</span>
                </a>
              </li>

              <li class="foo-list-item">
                <a href="/tin-tuc" title="Blog">
                  <i class="fa fa-angle-right"></i>
                  <span>Blog</span>
                </a>
              </li>

              <li class="foo-list-item">
                <a href="/gioi-thieu" title="Giới thiệu">
                  <i class="fa fa-angle-right"></i>
                  <span>Giới thiệu</span>
                </a>
              </li>

              <li class="foo-list-item">
                <a href="/lien-he" title="Liên hệ">
                  <i class="fa fa-angle-right"></i>
                  <span>Liên hệ</span>
                </a>
              </li>

            </ul>
          </div>
        </div>




        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col">
          <h4 class="foo-title">
            Hướng dẫn
          </h4>
          <div class="foo-content foo-menu">
            <ul class="list-menu">

              <li class="foo-list-item">
                <a href="/" title="Trang chủ">
                  <i class="fa fa-angle-right"></i>
                  <span>Trang chủ</span>
                </a>
              </li>

              <li class="foo-list-item">
                <a href="/collections/all" title="Sản phẩm">
                  <i class="fa fa-angle-right"></i>
                  <span>Sản phẩm</span>
                </a>
              </li>

              <li class="foo-list-item">
                <a href="/tin-tuc" title="Blog">
                  <i class="fa fa-angle-right"></i>
                  <span>Blog</span>
                </a>
              </li>

              <li class="foo-list-item">
                <a href="/gioi-thieu" title="Giới thiệu">
                  <i class="fa fa-angle-right"></i>
                  <span>Giới thiệu</span>
                </a>
              </li>

              <li class="foo-list-item">
                <a href="/lien-he" title="Liên hệ">
                  <i class="fa fa-angle-right"></i>
                  <span>Liên hệ</span>
                </a>
              </li>

            </ul>
          </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col">
          <h4 class="foo-title">
            Liên hệ
          </h4>
          <div class="foo-content foo-contact demo">
            <ul class="list-menu">

              <li>
                <span class="foo-icon">
                  <i class="fa fa-map-marker"></i>
                </span>
                <span class="foo-detail foo-address">366 Nguyễn Trãi, F4, Quận 5, thành phố Hồ Chí Minh</span>
              </li>


              <li>
                <span class="foo-icon">
                  <i class="fa fa-phone"></i>
                </span>
                <span class="foo-detail">
                  <a href="tel:0466742332">0962.970.238</a>
                </span>
              </li>


              <li>
                <span class="foo-icon">
                  <i class="fa fa-envelope"></i>
                </span>
                <span class="foo-detail">
                  <a href="mailto:support@lokishop-2018.firebaseapp.com">support@lokishop-2018.firebaseapp.com</a>
                </span>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <span>© Bản quyền thuộc về
            <strong>LK Team</strong>
          </span>
          <span class="hidden-xs"> | </span>
          <span>Cung cấp bởi
            <a href="/"
             rel="nofollow" target="_blank">LokiShop</a>
          </span>
        </div>
      </div>
    </div>
  </div>


</footer>