<section class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          <li class="home">
            <a itemprop="url" routerLink="/" title="Trang chủ">
              <span itemprop="title">Trang chủ</span>
            </a>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </li>

          <li>
            <strong itemprop="title">Giỏ hàng</strong>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>

<div class="cart-template">
  <section class="cart">
    <div class="cart-page">
      <div class="container">
        <div class="row">
          <div class="col-main cart-page">
            <div class="cart cart_content" *ngIf="shoppingCartItems.length==0">Không có sản phẩm nào trong giỏ hàng</div>
            <div class="cart cart_content" *ngIf="shoppingCartItems.length!=0">
              <div class="cart_desktop min768">
                <div class="cart page_cart cart_des_page hidden-xs-down">
                  <div class="col-lg-12">
                    <div class="form-cart">
                      <form action="/cart" method="post">
                        <div class="table-cart">
                          <table class="table">
                            <thead>
                              <tr style="background: #f23534; color: #fff;">
                                <th style="width:65px;">Xóa</th>
                                <th style="width:190px;">Ảnh sản phẩm</th>
                                <th style="min-width:150px;">Tên sản phẩm</th>
                                <th style="width:150px; text-align:center">Giá</th>
                                <th style="width:110px;">Số lượng</th>
                                <th style="width:140px;">Thành tiền</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let shoppingCartItem of shoppingCartItems; let i = index" class="productid-17441914">
                                <td>
                                  <a (click)="removeFromCart(shoppingCartItem, i+1)" routerLink="/cart" class="button remove-item remove-item-cart" title="Xóa">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                  </a>
                                </td>
                                <td class="cartImg">
                                  <a routerLink="detail/{{shoppingCartItem.id}}" title="{{shoppingCartItem.name}}">
                                    <img alt="{{shoppingCartItem.name}}" src="{{shoppingCartItem.thumb}}">
                                  </a>
                                </td>
                                <td class="title_cart">
                                  <a routerLink="detail/{{shoppingCartItem.id}}" title="{{shoppingCartItem.name}}">{{shoppingCartItem.name}}</a>
                                  <br>
                                  <span class="variant-title">{{shoppingCartItem.selectedColor}}</span>
                                </td>
                                <td class="price_cart tRight">{{shoppingCartItem.sale_price | number}}₫</td>
                                <td class="input_qty_pr cart-quantity tRight">
                                  <input class="variantID" type="hidden" name="variantId" value="{{shoppingCartItem.id}}">
                                  <button (click)="increaseQty(shoppingCartItem, i+1)" class="increase_pop items-count btn-plus" type="button">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                  </button>
                                  <button (click)="reduceQty(shoppingCartItem, i+1)" class="reduced_pop items-count btn-minus" type="button">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                  </button>
                                  <input type="text" maxlength="12" min="1" class="input-text number-sidebar input_pop input_pop {{shoppingCartItem.id}}"
                                    id="qty{{i+1}}" #qty{{i+1}} name="Lines" size="4" value="{{shoppingCartItem.qtyinCart}}" disabled="">
                                </td>
                                <td class="price_cart2 tRight" id="totalPerProduct" #totalPerProduct>{{shoppingCartItem.sale_price*shoppingCartItem.qtyinCart | number}}₫</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="form-cart-button mtb">
                      <div class="">
                        <a routerLink="/collections/all" class="form-cart-continue">Tiếp tục mua hàng</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-2 bg_cart">
                    <div class="table-total">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>Tổng giá sản phẩm</td>
                            <td class="txt-right totals_price">{{totalCost | number}}₫</td>
                          </tr>
                          <tr>
                            <td>Tiền vận chuyển</td>
                            <td class="txt-right">Tính khi thanh toán</td>
                          </tr>
                          <tr>
                            <td>TỔNG TIỀN THANH TOÁN</td>
                            <td class="txt-right totals_price">{{totalCost | number}}₫</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <a routerLink="/checkout" class="btn-checkout-cart">Thanh toán ngay</a>
                  </div>
                </div>
              </div>
              <div class="cart_mobile max767">
                <div class="cart_mb cart_ct_mobile">
                  <div class="cart_mobile_content">
                    <form action="/cart" method="post" novalidate=""></form>
                    <div class="body-item">
                      <div class="item_cart productid-17441914">
                        <div class="image_cart_mobile">
                          <a title="Thẻ nhớ Sandisk Ultra Class 10 - 8GB" routerLink="/the-nho-sandisk-ultra-class-10">
                            <img alt="Thẻ nhớ Sandisk Ultra Class 10 - 8GB" src="//bizweb.dktcdn.net/thumb/compact/100/305/798/products/the-nho-sandisk-ultra-sd-8gb-01.jpg">
                          </a>
                        </div>
                        <div class="name_item_cart">
                          <h3>
                            <a routerLink="/the-nho-sandisk-ultra-class-10" title="Thẻ nhớ Sandisk Ultra Class 10 - 8GB">Thẻ nhớ Sandisk Ultra Class 10 - 8GB</a>
                          </h3>
                          <span class="variant-title">Test</span>
                          <span class="item-price">Giá :
                            <span class="price">1₫</span>
                          </span>
                        </div>
                        <div class="slg_cart">
                          <div *ngFor="let shoppingCartItem of shoppingCartItems" class="qty_mb">
                            <input class="variantID" type="hidden" name="variantId" value="{{shoppingCartItem.id}}">
                            <input type="text" maxlength="12" min="0" class="input-text number-sidebar qty{{shoppingCartItem.id}}" id="qty{{shoppingCartItem.id}}"
                              name="qty" size="4" value="{{shoppingCartItem.qtyinCart}}">
                            <a class="remove-item-cart" data-id="{{shoppingCartItem.id}}" title="Xoá" style="display:block;margin:5px 0px 5px 10px; color:#111;">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                            <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;"
                              class="btn_increase increase items-count btn-plus" type="button">
                              <i class="button_item fa fa-caret-up" aria-hidden="true"></i>
                            </button>
                            <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) result.value--;return false;"
                              class="btn_reduced reduced items-count btn-minus" disabled="" type="button">
                              <i class="button_item fa fa-caret-down" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="form-cart-button mta">
                        <div class="">
                          <a routerLink="/collections/all" class="form-cart-continue">Tiếp tục mua hàng</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 bg_cart">
                      <div class="table-total">
                        <table class="table ">
                          <tbody>
                            <tr>
                              <td>Tổng giá sản phẩm</td>
                              <td class="txt-right totals_price">1₫</td>
                            </tr>
                            <tr>
                              <td>Tiền vận chuyển</td>
                              <td class="txt-right">Tính khi thanh toán</td>
                            </tr>
                            <tr>
                              <td>TỔNG TIỀN THANH TOÁN</td>
                              <td class="txt-right totals_price">1₫</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <a onclick="window.location.routerLink='/checkout'" class="btn-checkout-cart">Thanh toán ngay</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>