<div id="popup-cart" class="modal fade in" role="dialog" style="display: block; padding-right: 17px;">
  <div id="popup-cart-desktop" class="clearfix">
    <div class="title-popup-cart">
      <span class="pop-title">
        <i class="fa fa-check check" aria-hidden="true"></i> Sản phẩm
        <span class="cart-popup-name">
          <a href="/laptop-apple-macbook-air-md711zp-b" style="color:red;" title="Laptop Apple Macbook Air MD711ZP/B">Laptop Apple Macbook Air MD711ZP/B</a>
        </span> đã thêm vào giỏ hàng</span>
      <div class="content-popup-cart">
        <div class="tbody-popup">
          <div class="item-popup productid-17401726">
            <div style="width: 15%;" class="text-left">
              <div class="item-image">
                <a class="product-image" href="/laptop-apple-macbook-air-md711zp-b" title="Laptop Apple Macbook Air MD711ZP/B">
                  <img alt="Laptop Apple Macbook Air MD711ZP/B" src="//bizweb.dktcdn.net/thumb/small/100/304/561/products/apple-macbook-air-11.jpg">
                </a>
              </div>
            </div>
            <div class="item-info" style="width: 40%;">
              <p class="item-name">
                <a href="/laptop-apple-macbook-air-md711zp-b" title="Laptop Apple Macbook Air MD711ZP/B">Laptop Apple Macbook Air MD711ZP/B</a>
              </p>
              <p class="variant-tit" style="display: none;">Default Title</p>
            </div>
            <div style="width: 15%;" class="text-center">
              <div class="fixab">
                <input class="variantID" type="hidden" name="variantId" value="17401726">
                <button onclick="var result = document.getElementById('qtyItem17401726'); var qtyItem17401726 = result.value; if( !isNaN( qtyItem17401726 ) &amp;&amp; qtyItem17401726 > 1 ) result.value--;return false;"
                  disabled="" class="num1 reduced items-count btn-minus" type="button">
                  <i class="fa fa-caret-down"></i>
                </button>
                <input type="text" onkeypress="inputvalidate(event)" maxlength="12" min="0" class="input-text number-sidebar qtyItem17401726"
                  id="qtyItem17401726" name="Lines" size="4" value="1">
                <button onclick="var result = document.getElementById('qtyItem17401726'); var qtyItem17401726 = result.value; if( !isNaN( qtyItem17401726 )) result.value++;return false;"
                  class="num2 increase items-count btn-plus" type="button">
                  <i class="fa fa-caret-up"></i>
                </button>
              </div>
            </div>
            <div class="item-price" style="width: 15%;">
              <span class="price">20.800.000₫</span>
            </div>
            <div style="width: 15%;">
              <p class="item-remove">
                <a href="javascript:;" class="remove-item-cart" title="Xóa" data-id="17401726">
                  <i class="fa fa-remove"></i> Xóa</a>
              </p>
            </div>
          </div>
        </div>
        <div class="tfoot-popup">
          <div class="tfoot-popup-1 clearfix">
            <div class="pull-left popup-ship">
            </div>
            <div class="pull-right popup-total">
              <p>Tổng tiền:
                <span class="total-price">20.800.000₫</span>
              </p>
            </div>
            <a href="/collections/all" class="button btn-continue" title="Tiếp tục mua hàng">
              <span>
                <i class="fa fa-caret-left" aria-hidden="true"></i> Tiếp tục mua hàng</span>
            </a>
          </div>
          <div class="tfoot-popup-2 clearfix">
            <a class="button btn-proceed-checkout" title="Đặt hàng ngay" href="/checkout">
              <span>Đặt hàng ngay</span>
            </a>
          </div>
        </div>
      </div>
      <a title="Close" class="quickview-close close-window" (click)="closePopupCart()">
        <i class="fa  fa-close"></i>
      </a>
    </div>
  </div>

</div>