.home-slider {
    overflow: hidden
}

.home-slider .item {
    position: relative
}

.home-slider.owl-carousel .owl-nav .owl-next {
    right: 15px !important;
    background: transparent;
    top: 50%
}

.home-slider.owl-carousel .owl-nav .owl-prev {
    left: 15px !important;
    background: transparent;
    top: 50%
}

.home-slider.owl-carousel .owl-nav .owl-prev:before, .home-slider.owl-carousel .owl-nav .owl-next:before {
    font-size: 84px;
    background: transparent
}

.vc-custom-img {
    position: relative;
    overflow: hidden
}

.vc-custom-img a:after {
    background: rgba(255, 255, 255, 0.2);
    content: '';
    position: absolute;
    width: 30%;
    height: 100%;
    left: -30%;
    top: 0;
    transition: all ease 0.5s
}

.vc-custom-img a:hover:after {
    left: 130%;
    width: 1%
}

.vc-custom-img a:before {
    background: rgba(255, 255, 255, 0.2);
    content: '';
    position: absolute;
    width: 30%;
    height: 100%;
    right: -30%;
    top: 0;
    transition: all ease 0.5s
}

.vc-custom-img a:hover:before {
    right: 130%;
    width: 1%
}

.section_tab_product h2 {
    font-size: 1.71429em;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 20px 0
}

.section_tab_product .tabs-title {
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden
}

.section_tab_product .tabs-title li {
    width: 140px;
    display: inline-block;
    background: #dadbdb;
    height: 40px;
    line-height: 40px;
    margin-right: 1px
}

.section_tab_product .tabs-title li.current {
    color: #fff;
    background: #898989
}

.section_tab_product .tab-content {
    clear: left
}

@media (min-width: 1200px) {
    .section_tab_product .tab-content .products .col-lg-3:nth-child(4n+1) {
        clear: left
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .section_tab_product .products .col-sm-4:nth-child(3n+1) {
        clear: left
    }
}

@media (max-width: 767px) {
    .section_tab_product .tabs-title li {
        width: 87px
    }
}

.section-news h2 {
    position: relative;
    margin: 0 0 25px 0
}

.section-news .blog-item {
    background: #fff
}

.section-news .v-all-blog {
    text-align: center;
    margin-top: 10px;
    clear: both
}

.section-news .v-all-blog a {
    display: inline-block;
    border: 1px solid #eee;
    padding: 5px 10px;
    transition: all ease 0.5s;
    background: #fff;
    font-size: 18px;
    border-radius: 4px;
    text-transform: uppercase
}

.section-news .v-all-blog a:hover {
    color: #fff;
    background: #df0303
}

.section-news .v-all-blog a .fa {
    margin: 0 5px
}

.home-banner .item-banner:first-child {
    margin-bottom: 10px
}

.vc-custom-heading {
    text-align: center;
    margin-top: 10px
}

.vc-custom-heading a {
    color: #df0303;
    font-size: 20px
}

@media (min-width: 768px) and (max-width: 991px) {
    .vc-custom-heading a {
        font-size: 17px
    }
}

.iwishAddWrapper {
    border: 1px solid #df0303 !important;
    margin: 0 !important;
    border-radius: 0 !important
}

.iwishAddWrapper span {
    padding: 0 !important
}

.iwishAddWrapper .iwishAddBorder {
    border: none !important
}

.heading {
    margin-bottom: 10px
}

.heading h2 {
    margin: 0;
    line-height: 1.2;
    border-bottom: 2px solid #df0303;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    padding: 5px 0px 5px 0px;
    letter-spacing: 0px;
    position: relative
}

.heading h2 a {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: none;
    font-size: 14px;
    font-style: italic;
    line-height: inherit;
    padding: 0;
    float: right;
    letter-spacing: 0px;
    position: relative
}

aside .filter-container {
    margin-bottom: 0px
}

aside .aside-filter {
    margin-top: 0px;
    background: #fff
}

aside .aside-filter .aside-item .aside-content {
    border-top: 0px;
    padding: 5px 0px 0px 0px;
    margin-bottom: 20px
}

aside .aside-filter .aside-item .aside-content.sizes-list {
    margin-bottom: 0px
}

aside .aside-filter .aside-item .aside-content.filter-price-value {
    padding: 20px 0px 20px
}

aside .filter-group {
    padding: 20px 0px 20px 0px
}

aside .filter-group ul {
    max-height: 150px;
    overflow-y: auto
}

aside .filter-group ul::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ebebeb;
    width: 5px
}

aside .filter-group ul::-webkit-scrollbar {
    width: 5px;
    background-color: #ebebeb
}

aside .filter-group ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #df0303;
    width: 5px
}

aside .filter-group-title {
    display: block;
    font-size: 1.28571em;
    margin-bottom: 10px
}

aside .filter-group {
    position: relative
}

aside .filter-item {
    margin: 0;
    cursor: pointer;
    line-height: 25px;
    min-width: 100%;
    float: left;
    padding-right: 10px;
    padding: 0px 15px 0px 1px
}

aside .filter-item .label_relative {
    position: relative
}

aside .filter-item .label_relative .filter_tt {
    padding-left: 5px;
    display: inline-block
}

aside .filter-item.filter-color-size {
    min-width: 0px;
    padding: 0px
}

aside .filter-item.filter-size {
    min-width: 0px;
    padding: 0px;
    width: 100%;
    height: 30px;
    text-align: left;
    margin-right: 5px;
    line-height: 30px;
    color: #252525;
    position: relative
}

aside .filter-item.filter-size:hover {
    color: #df0303
}

aside .filter-item.filter-size .fa {
    opacity: 1;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 21px;
    line-height: 30px
}

aside .filter-item .name_color {
    line-height: 25px;
    display: inline-block;
    height: 20px;
    position: absolute;
    font-size: 14px;
    color: #787883;
    text-transform: inherit
}

aside .filter-item * {
    color: #333;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal
}

aside .filter-item.size .tags_size {
    position: relative;
    width: calc(100% - 30px);
    -o-width: calc(100% - 30px);
    -moz-width: calc(100% - 30px);
    -webkit-width: calc(100% - 30px);
    display: inline-block;
    float: left;
    padding-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #2f2f33
}

aside .filter-item.size .tags_size:before {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid transparent
}

aside .filter-item.size input:checked+.tags_size:before {
    border-color: #df0303
}

aside .filter-item.color {
    min-width: 50%
}

aside .filter-item.color a, aside .filter-item.color label {
    font-family: 'Opens Sans', sans-serif;
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 0;
    font-size: 14px;
    line-height: 20px
}

aside .filter-item.color .fa {
    width: 20px;
    height: 20px;
    background: red;
    position: relative;
    border-radius: 50%;
    top: 4px
}

aside .filter-item.color .fa:before {
    display: none
}

aside .filter-item.color .fa.trang:hover:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%
}

aside .filter-item.color .fa:hover:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    border: none
}

aside .filter-item.color input:checked+.fa:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 0px solid #fff;
    border-radius: 50%
}

aside .filter-item.color input:checked+.fa.trang:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    border-radius: 50%;
    top: 0px;
    border: 1px solid #fff
}

aside .filter-item.color input:checked+.fa:after {
    font-family: 'FontAwesome';
    display: block;
    content: "\f00c";
    color: #fff;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 3px
}

aside .filter-item.color input:checked+.fa.trang:after {
    font-family: 'FontAwesome';
    display: block;
    content: "\f00c";
    color: #333;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 3px
}

aside .filter-item--green *:hover {
    color: #df0303
}

aside .filter-item--half {
    display: inline-block;
    width: 48%;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 3px
}

aside .filter-item--check-box input {
    display: none
}

aside .filter-item--check-box .fa {
    margin-right: 10px;
    width: 14px;
    font-size: 18px;
    line-height: 40px;
    position: relative;
    top: 2px
}

aside .filter-item--check-box input+.fa:before {
    content: "";
    margin-right: 5px;
    font-size: 18px;
    border: solid 1px #ebebeb;
    line-height: 40px;
    position: absolute;
    top: -17px;
    height: 20px !important;
    width: 20px;
    border-radius: 2px
}

aside .filter-item--check-box input:checked+span {
    color: #df0303
}

aside .filter-item--check-box input:checked+.fa, aside .filter-item--check-box input+span {
    color: #df0303
}

aside .filter-item--check-box input:checked+.fa:after, aside .filter-item--check-box input+span:after {
    font-family: 'FontAwesome';
    color: #df0303;
    content: "\f00c";
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: -17px;
    font-size: 12px;
    left: 4px
}

aside .filter-item--check-box input:checked+.fa:before, aside .filter-item--check-box input+span:before {
    border-color: #df0303
}

aside .filter-container__selected-filter {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee
}

aside .filter-container__selected-filter-header {
    margin-bottom: 5px
}

aside .filter-container__selected-filter-header-title {
    font-size: 18px;
    font-weight: bold;
    color: #0038AE
}

aside .filter-container__clear-all {
    float: right;
    color: #333;
    margin-top: 3px
}

aside .filter-container__selected-filter-item {
    padding: 3px 0
}

aside .filter-container__selected-filter-item>a {
    color: #333;
    font-size: .92857em
}

aside .filter-container__selected-filter-item .fa {
    margin-right: 10px;
    color: #F44336
}

aside .aside-filter .title_module h2 {
    margin: 0;
    background: #df0303;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px 15px
}

aside .aside-filter .aside-content.filter-group {
    padding: 10px;
    border: 1px solid #eee
}

aside .aside-filter .aside-item {
    margin-bottom: 10px
}

aside .filter-item--check-box input {
    display: none
}

aside .filter-item--check-box input+.fa:before {
    content: "";
    margin-right: 5px;
    font-size: 18px;
    border: solid 1px #ebebeb;
    line-height: 40px;
    position: absolute;
    top: -17px;
    height: 20px !important;
    width: 20px
}

aside .filter-item--check-box .fa {
    margin-right: 10px;
    width: 14px;
    font-size: 18px;
    line-height: 40px;
    position: relative;
    top: 2px
}

#popup-cart {
    padding-top: 5%;
    overflow: overlay;
    top: 0 !important
}

#popup-cart:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
    z-index: 1
}

#popup-cart .close-window .fa {
    font-size: 14px;
    color: #000
}

#popup-cart .close-window .fa:hover {
    color: #f23534
}

#myModal:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
    z-index: 1
}

#myModal .modal-dialog {
    z-index: 2;
    top: 5%
}

#popup-cart-desktop {
    width: 715px;
    float: none;
    margin: 0 auto;
    position: relative;
    border-radius: 4px
}

#popup-cart-desktop .pop-title {
    padding-bottom: 15px;
    border-bottom: #dedede 1px solid;
    display: block;
    font-size: 15px
}

#popup-cart-desktop .title-popup-cart {
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 25px;
    box-shadow: 0 0 1px 1px;
    z-index: 2;
    position: absolute
}

#popup-cart-desktop .title-popup-cart i.check {
    color: #f23534;
    font-size: 14px;
    padding: 6px
}

#popup-cart-desktop .title-quantity-popup {
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase
}

#popup-cart-desktop .title-quantity-popup .fa-shopping-cart {
    color: #232323;
    font-size: 25px
}

#popup-cart-desktop .title-quantity-popup .fa-caret-right {
    font-size: 14px
}

#popup-cart-desktop .item-remove {
    margin: 0
}

#popup-cart-desktop .item-name {
    margin-bottom: 0;
    width: 100%;
    float: left
}

#popup-cart-desktop .variant-tit {
    font-size: 13px;
    color: #333;
    font-style: italic;
    width: 100%;
    float: left
}

#popup-cart-desktop .content-popup-cart {
    overflow: hidden
}

#popup-cart-desktop .content-popup-cart .thead-popup {
    float: left;
    width: 100%;
    clear: both;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    font-weight: 700
}

#popup-cart-desktop .content-popup-cart .thead-popup>div {
    float: left;
    padding: 6px 10px;
    font-size: 14px;
    padding-left: 0;
    border-left: 2px solid #fff
}

#popup-cart-desktop .content-popup-cart .thead-popup>div:first-child {
    border-left: none
}

#popup-cart-desktop .content-popup-cart .tbody-popup {
    width: 100%;
    float: left;
    clear: both;
    max-height: 280px;
    overflow-x: auto;
    border-top: none
}

#popup-cart-desktop .content-popup-cart .tbody-popup::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5
}

#popup-cart-desktop .content-popup-cart .tbody-popup::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5
}

#popup-cart-desktop .content-popup-cart .tbody-popup::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #898989
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup {
    width: 100%;
    float: left;
    clear: both;
    padding: 5px 15px;
    border-bottom: 1px solid #dedede;
    position: relative;
    overflow: hidden
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup>div {
    float: left;
    position: relative;
    height: 100%;
    line-height: 30px
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup>div:nth-child(3) {
    position: relative
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-image {
    float: left;
    display: block;
    float: left
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-image .product-image {
    display: flex;
    justify-content: center;
    align-items: center
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-image img {
    border: 1px solid #dedede;
    max-width: 100%;
    max-height: 100%
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-remove {
    font-size: 14px;
    font-weight: normal
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info {
    padding-left: 15px;
    display: block;
    float: left
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info span.add_sus {
    font-size: 14px;
    color: #232323 !important;
    font-style: italic
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info span.add_sus i {
    color: #232323 !important
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-name a {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    float: left;
    font-weight: normal;
    color: #494949;
    font-size: 16px;
    line-height: 1.4
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-name a:hover {
    color: #f23534
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .variant-title-popup {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333333
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-remove a i {
    font-size: 14px;
    padding: 3px 5px;
    color: red;
    text-align: center;
    font-weight: normal
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price span {
    display: block
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .price {
    color: #f23534;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .compare-price {
    color: #232323;
    font-size: 13px;
    text-decoration: line-through;
    font-weight: bold
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .compare-divide {
    font-size: 12px;
    color: #d71515
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .items-count {
    outline: none;
    height: 20px;
    width: 20px;
    line-height: 20px;
    vertical-align: baseline;
    text-align: center;
    padding: 0;
    float: right;
    right: 0;
    position: absolute;
    z-index: 9;
    background: transparent;
    border: none
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .items-count .fa {
    font-size: 14px;
    color: #000
}

#popup-cart-desktop .fixab {
    position: relative;
    display: inline-block
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .number-sidebar {
    border: 1px solid #dedede;
    text-align: center;
    font-size: 14px;
    width: 60px;
    vertical-align: top;
    display: inline-block;
    height: 40px;
    background: #fff;
    padding: 10px;
    outline: none;
    font-weight: normal;
    min-height: auto
}

#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .cart-price {
    display: block;
    font-weight: bold;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    color: #f23534;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}

#popup-cart-desktop .content-popup-cart .tfoot-popup {
    width: 100%;
    float: left;
    clear: both
}

#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 {
    padding: 20px 0 0
}

#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .btn-continue {
    background: #75af42;
    font-size: 14px;
    float: left;
    border: 1px solid #75af42;
    outline: none;
    color: #fff;
    border-radius: 4px;
    margin-left: 0;
    font-weight: normal;
    cursor: pointer;
    transition: all ease 0.5s;
    padding: 5px 10px
}

#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .btn-continue:hover {
    color: #75af42
}

#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .btn-continue:hover {
    color: #75af42;
    background: #fff
}

#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship {
    font-size: 13px;
    width: 320px
}

#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship img {
    float: left;
    margin-right: 10px
}

#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship p {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-left: 20px;
    margin-top: 3px;
    text-transform: uppercase
}

#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship p:before {
    font-family: 'FontAwesome';
    content: "\f0d1";
    font-size: 15px;
    position: absolute;
    left: 40px
}

#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-total p {
    font-size: 16px;
    text-align: right;
    padding: 0
}

#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-total p .total-price {
    color: #f23534;
    font-weight: bold
}

#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 .button.btn-proceed-checkout {
    display: block;
    overflow: hidden;
    padding: 8px 15px;
    border-radius: 4px;
    height: auto;
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #f60505;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f60505), to(#df0303));
    background: -webkit-linear-gradient(top, #df0303, #f60505);
    background: -moz-linear-gradient(top, #df0303, #f60505);
    background: -ms-linear-gradient(top, #df0303, #f60505);
    background: -o-linear-gradient(top, #df0303, #f60505)
}

#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 .button.btn-proceed-checkout span {
    font-size: 18px;
    font-weight: normal
}

#popup-cart-desktop .remove-item-cart {
    font-size: 13px;
    display: block;
    text-align: center;
    margin-top: 0px;
    line-height: 40px;
    color: red
}

#popup-cart-desktop .remove-item-cart:hover {
    color: #f23534
}

.title-quantity-popup {
    cursor: pointer
}

button.reduced.items-count.btn-minus {
    margin-top: 20px
}

@media (max-width: 480px) {
    button.increase.items-count.btn-plus {
        left: 30px;
        top: 0;
        line-height: 15px
    }
    button.reduced.items-count.btn-minus {
        left: 30px;
        top: 3px
    }
}

.fancybox-skin {
    background: #fff !important
}

.modal-content {
    border: none;
    border-radius: 0.5rem;
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    box-shadow: 0 1px 1px 1px
}

.modal-header {
    background-color: #df0303;
    color: #fff;
    padding: 5px 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px
}

.modal-header .close {
    margin-top: -2px;
    opacity: 1 !important
}

.modal-header .close span {
    color: #fff
}

.modal-header .modal-title {
    padding-left: 6rem;
    position: relative;
    height: 44px;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff
}

.modal-header .modal-title span {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    font-size: 23px;
    text-align: center;
    line-height: 44px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: #df0303
}

.modal-body {
    position: relative;
    padding: 15px
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20)
}

.modal-header .media:first-child {
    margin-top: 0
}

.btn-outline-red {
    background: #75af42;
    color: #fff !important;
    display: block;
    overflow: hidden;
    padding: 5px 15px;
    border-radius: 4px;
    height: auto;
    margin-top: 10px;
    font-size: 14px;
    line-height: 29px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center
}

.btn-red {
    display: block;
    overflow: hidden;
    padding: 5px 15px;
    border-radius: 4px;
    height: auto;
    font-size: 14px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #f60505;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f60505), to(#df0303));
    background: -webkit-linear-gradient(top, #df0303, #f60505);
    background: -moz-linear-gradient(top, #df0303, #f60505);
    background: -ms-linear-gradient(top, #df0303, #f60505);
    background: -o-linear-gradient(top, #df0303, #f60505)
}

@media (min-width: 480px) {
    .btn-outline-red {
        display: inline-block;
        width: auto;
        font-size: 14px;
        margin: 0;
        border: none;
        font-weight: bold;
        float: left;
        line-height: 29px
    }
    .btn-red {
        display: inline-block;
        width: auto;
        font-weight: bold;
        font-size: 14px;
        float: right;
        margin: 0 !important;
        box-sizing: border-box
    }
}

.media .media-left {
    padding-right: 1rem
}

.media .thumb-1x1 {
    width: 7.7rem
}

.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top
}

.product-new-price {
    color: #f23534
}

.product-title {
    font-weight: bold
}

.close-window {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    background: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    border: #dedede 1px solid
}

.details-product .gift-box {
    border: 1px dashed #f6d624;
    background: #faf3cd
}

.gift-box {
    padding: 5px;
    border: 1px dashed #eee;
    background: none;
    border-radius: 5px
}

.gift-box .gift-box-title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold
}

.gift-box .gift-box-content p {
    margin-bottom: 0;
    position: relative;
    padding-left: 15px
}

.gift-box .gift-box-content p:before {
    content: '\f058';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
    color: #3FB846;
    position: absolute;
    left: 0;
    line-height: 1.7
}

.section-product {
    margin-top: 15px
}

.section-new .products .ft .product-box .product-thumbnail {
    width: 100%
}

.section-new .products .ft .product-box .product-info {
    padding: 10px 0
}

.section-new .products .ft .product-box .product-name {
    font-size: 18px
}

.section-new .products .ft .product-box .product-price, .section-new .products .ft .product-box .product-price-old {
    font-size: 18px
}

.section-gift .gift-title {
    color: red;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px
}

.section-gift .gift-title .fa {
    font-size: 20px
}

.section-gift .heading i {
    color: red;
    animation: scales 1s ease-in-out infinite alternate;
    -webkit-animation: scales 1s ease-in-out infinite alternate
}

.deals a {
    display: block;
    text-align: center
}

@keyframes scales {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
    100% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5)
    }
}

@media (min-width: 992px) {
    .products .nm-prod .col-md-4:nth-child(3n+1), .section-gift .products .col-md-4:nth-child(3n+1) {
        clear: left
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .products .col-sm-6:nth-child(2n+1) {
        clear: left
    }
}

.bizweb-product-reviews-star i:before {
    line-height: 32px
}

.bizweb-product-reviews-form fieldset {
    border: none
}

#quick-view-product .swatch {
    padding-left: 100px;
    position: relative
}

#quick-view-product .swatch .header {
    position: absolute;
    left: 0;
    width: 95px
}

@media (min-width: 1200px) {
    .section-new .products .ft .product-box .product-thumbnail {
        height: 298px
    }
}
