<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <li class="home">
                        <a itemprop="url" routerLink="/">
                            <span itemprop="title">Trang chủ</span>
                        </a>
                        <span>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </span>
                    </li>

                    <li>
                        <strong itemprop="title">Đăng nhập tài khoản</strong>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container margin-bottom-20">
    <h1 class="title-head">
        <span>Đăng nhập tài khoản</span>
    </h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="page-login">
                <div id="login">
                    <span>
                        Nếu bạn đã có tài khoản, đăng nhập tại đây.
                    </span>
                    <form accept-charset='UTF-8' action='/account/login' id='customer_login' method='post'>
                        <input name='FormType' type='hidden' value='customer_login' />
                        <input name='utf8' type='hidden' value='true' />
                        <div class="form-signup">

                        </div>
                        <div class="form-signup clearfix">
                            <fieldset class="form-group">
                                <label>Email
                                    <span class="required">*</span>
                                </label>
                                <input id="customerEmail" name="customerEmail" type="text" [(ngModel)]="Email" class="form-control form-control-lg"
                                    pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required #customerEmail
                                    placeholder="Địa chỉ email" />
                                <div *ngIf="customerEmail.invalid && (customerEmail.dirty || customerEmail.touched)" class="alert alert-danger">
                                    <div *ngIf="customerEmail.errors.required"> Bạn chưa nhập địa chỉ email</div>
                                    <div *ngIf="customerEmail.errors && customerEmail.errors.pattern">
                                        Địa chỉ email không hợp lệ</div>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <label>Mật khẩu
                                    <span class="required">*</span>
                                </label>
                                <input id="customerPass" name="customerPass" type="password" [(ngModel)]="Password" class="form-control form-control-lg"
                                     required #customerPass
                                    placeholder="Mật khẩu" />
                                <div *ngIf="customerPass.invalid && (customerPass.dirty || customerPass.touched)" class="alert alert-danger">
                                    <div *ngIf="customerPass.errors.required"> Bạn chưa nhập mật khẩu</div>
                                    <div *ngIf="customerPass.errors && customerPass.errors.pattern">
                                        Mật khẩu không hợp lệ</div>
                                </div>
                            </fieldset>



                            <div class="pull-xs-left" style="margin-top: 25px;">
                                <input (click)="login(customerEmail.value, customerPass.value);" class="btn btn-style btn-primary" type="submit" value="Đăng nhập" />
                                <input (click)="GoogleLogin();" class="btn btn-style btn-primary" type="submit" value="Đăng nhập với Google" />
                                <a routerLink="/account/signup" class="btn-link-style btn-register" style="margin-left: 20px;text-decoration: underline; ">Đăng ký</a>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        <div class="col-lg-6 h_recover">

            <div id="recover-password" class="form-signup page-login">
                <span>
                    Bạn quên mật khẩu? Nhập địa chỉ email để lấy lại mật khẩu qua email.
                </span>
                <form accept-charset='UTF-8' action='/account/recover' id='recover_customer_password' method='post'>
                    <input name='FormType' type='hidden' value='recover_customer_password' />
                    <input name='utf8' type='hidden' value='true' />
                    <div class="form-signup" style="color: red;">

                    </div>
                    <div class="form-signup clearfix">
                        <fieldset class="form-group">
                            <label>Email
                                <span class="required">*</span>
                            </label>
                            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" class="form-control form-control-lg" value="" name="Email"
                                id="recover-email" placeholder="Email" Required>
                        </fieldset>
                    </div>
                    <div class="action_bottom">
                        <input class="btn btn-style btn-primary" style="margin-top: 28px;" type="submit" value="Lấy lại mật khẩu" />

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    function showRecoverPasswordForm() {
        document.getElementById('recover-password').style.display = 'block';
        document.getElementById('login').style.display = 'none';
    }

    function hideRecoverPasswordForm() {
        document.getElementById('recover-password').style.display = 'none';
        document.getElementById('login').style.display = 'block';
    }


</script>

<link routerLink='https://bizweb.dktcdn.net/100/312/519/themes/659041/assets/bpr-products-module.css?1525602473575' rel='stylesheet'
    type='text/css' />
<div class="bizweb-product-reviews-module"></div>