<!--app-header></app-header-->

<h1 class="hidden">LokiShop-2018 - </h1>



<section class="awe-section-1">
    <section class="section-privacy">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="owl-carousel owl-theme" data-lg-items="4" data-md-items="4" data-sm-items="2" data-xs-items="1" data-xxs-items="1"
                        data-auto-play="true" data-margin="0">



                        <div class="item">
                            <span class="privacy-icon">
                                <i class="fa fa-truck"></i>
                            </span>
                            <span class="privacy-detail">
                                Miễn phí vận chuyển
                            </span>
                        </div>



                        <div class="item">
                            <span class="privacy-icon">
                                <i class="fa fa-comments-o"></i>
                            </span>
                            <span class="privacy-detail">
                                Hỗ trợ 24/7
                            </span>
                        </div>



                        <div class="item">
                            <span class="privacy-icon">
                                <i class="fa fa-money"></i>
                            </span>
                            <span class="privacy-detail">
                                Hoàn tiền trong 15 ngày
                            </span>
                        </div>



                        <div class="item">
                            <span class="privacy-icon">
                                <i class="fa fa-star"></i>
                            </span>
                            <span class="privacy-detail">
                                Giảm giá theo đơn hàng
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>




<section class="awe-section-2">
    <section class="section_slider">
        <div class="container">
            <div class="row" *ngIf="sliders">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 index-slider">
                    <div class="owl-carousel owl-theme" data-lg-items="1" data-md-items='1' data-sm-items='1' data-xs-items="1" data-margin='0'
                        data-auto-play="true" data-nav="true">






                        <div class="item banner-item">
                            <a href="#" class="clearfix" title="LokiShop-2018">
                                <figure>
                                    <img src="http://bizweb.dktcdn.net/100/305/798/themes/650335/assets/slider_1_image.png?1522816147817" alt="LokiShop-2018">
                                </figure>
                            </a>
                        </div>



                    </div>
                </div>
                <div class="hidden-xs col-sm-12 col-md-4 col-lg-4">
                    <div class="row" *ngIf="banners">






                        <div *ngFor="let banner of banners" class="hidden-xs col-sm-6 col-md-12 col-lg-12 index-banner">
                            <div class="item banner-item">
                                <a href="{{banner.data.link}}" title="">
                                    <figure>
                                        <img src="{{banner.data.imageUrl}}" alt="LokiShop-2018">
                                    </figure>
                                </a>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
</section>




<section class="awe-section-3">
    <section class="section-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-md-push-3 col-md-push-3">






                    <!-- Kiểm tra số sản phẩm trong collection hiển thị -->



                    <!-- end kiểm tra -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 module_new_products">
                            <div class="module-header">
                                <div class="module-title title-style-3">
                                    <a routerLink="/san-pham-moi" title="Sản phẩm mới">
                                        <span>Sản phẩm mới</span>
                                    </a>
                                </div>
                            </div>
                            <div class="module-content" style="width: 115%">
                                <!--Hiển thị phones mới nhất-->
                                <div id="latestProducts" class="list-items">
                                    <!--div class="owl-item" style="width:212px;" *ngFor="let phone of phones">
                                        <div class="owl-item"-->

                                    <div *ngFor="let phone of phones" class="list-item" style="width: 212px;">
                                        <div class="item">

                                            <div class="product-box product-grid-item">
                                                <div class="product-thumbnail">

                                                    <a routerLink="/detail/{{phone.data.id}}" title="{{phone.data.name}}">
                                                        <picture class="dp-flex">
                                                            <img class="img-responsive" style="width:181.99px;height:181.99px;" src="{{phone.data.thumb}}" alt="{{phone.data.name}}"
                                                            />

                                                        </picture>
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <h3 class="product-name text1line">
                                                        <a routerLink="/detail/{{phone.data.id}}" title="{{phone.data.name}}">
                                                            {{phone.data.name}}
                                                        </a>
                                                    </h3>
                                                    <div class="price-box price-loop-style">
                                                        <span class="special-price">
                                                            <span class="price">{{phone.data.price | number}}₫</span>
                                                        </span>
                                                        <span class="old-price">
                                                            <span class="price">

                                                            </span>
                                                        </span>
                                                    </div>
                                                    <div class="product-action-btn product-action">
                                                        <form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-11250190" enctype="multipart/form-data">
                                                            <input class="hidden" type="hidden" name="variantId" value="17441893" />
                                                            <!--(click)="openPopupCart()"-->
                                                            <button routerLink="detail/{{phone.data.id}}"  class="btn btn-buy btn-transition btn-cart btn_buy add_to_cart btn-accent" title="Mua hàng">
                                                                <span>
                                                                    <i class="fa fa-shopping-cart"></i> Mua hàng</span>
                                                            </button>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!--/div-->
                                    <!--/div-->


                                </div>
                                <!--Hiển thị laptops mới nhất-->
                                <div id="latestProducts" class="list-items" *ngIf="laptops">
                                    <!--div class="owl-item" style="width:212px;" *ngFor="let phone of phones">
                                        <div class="owl-item"-->

                                    <div *ngFor="let phone of laptops" class="list-item" style="width: 212px;">
                                        <div class="item">

                                            <div class="product-box product-grid-item">
                                                <div class="product-thumbnail">

                                                    <a routerLink="/detail/{{phone.data.id}}" title="{{phone.data.name}}">
                                                        <picture class="dp-flex">
                                                            <img class="img-responsive" style="width:181.99px;height:181.99px;" src="{{phone.data.thumb}}" alt="{{phone.data.name}}"
                                                            />

                                                        </picture>
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <h3 class="product-name text1line">
                                                        <a routerLink="/detail/{{phone.data.id}}" title="{{phone.data.name}}">
                                                            {{phone.data.name}}
                                                        </a>
                                                    </h3>
                                                    <div class="price-box price-loop-style">
                                                        <span class="special-price">
                                                            <span class="price">{{phone.data.price | number}}₫</span>
                                                        </span>
                                                        <span class="old-price">
                                                            <span class="price">

                                                            </span>
                                                        </span>
                                                    </div>
                                                    <div class="product-action-btn product-action">
                                                        <form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-11250190" enctype="multipart/form-data">
                                                            <input class="hidden" type="hidden" name="variantId" value="17441893" />

                                                            <button (click)="addToCart(phone)" class="btn btn-buy btn-transition btn-cart btn_buy add_to_cart btn-accent" title="Mua hàng">
                                                                <span>
                                                                    <i class="fa fa-shopping-cart"></i> Mua hàng</span>
                                                            </button>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!--/div-->
                                    <!--/div-->


                                </div>
                            </div>
                        </div>
                    </div>








                    <!-- Kiểm tra số sản phẩm trong collection hiển thị -->



                    <!-- end kiểm tra -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 module_feature_products">
                            <div class="module-header">
                                <div class="module-title title-style-3">
                                    <a routerLink="/san-pham-noi-bat" title="Sản phẩm nổi bật">
                                        <span>Sản phẩm nổi bật</span>
                                    </a>
                                </div>
                            </div>
                            <div class="module-content" style="width: 115%">

                                <div id="mostPopuparProducts" class="list-items" *ngIf="accessories">
                                    <!--div class="owl-item" style="width:212px;" *ngFor="let phone of phones">
                                        <div class="owl-item"-->

                                    <div *ngFor="let phone of accessories" class="list-item" style="width: 212px;">
                                        <div class="item">

                                            <div class="product-box product-grid-item">
                                                <div class="product-thumbnail">

                                                    <a routerLink="/detail/{{phone.data.id}}" title="{{phone.data.name}}">
                                                        <picture class="dp-flex">
                                                            <img class="img-responsive" style="width:181.99px;height:181.99px;" src="{{phone.data.thumb}}" alt="{{phone.data.name}}"
                                                            />

                                                        </picture>
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <h3 class="product-name text1line">
                                                        <a routerLink="/detail/{{phone.data.id}}" title="{{phone.data.name}}">
                                                            {{phone.data.name}}
                                                        </a>
                                                    </h3>
                                                    <div class="price-box price-loop-style">
                                                        <span class="special-price">
                                                            <span class="price">{{phone.data.price | number}}₫</span>
                                                        </span>
                                                        <span class="old-price">
                                                            <span class="price">

                                                            </span>
                                                        </span>
                                                    </div>
                                                    <div class="product-action-btn product-action">
                                                        <form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-11250190" enctype="multipart/form-data">
                                                            <input class="hidden" type="hidden" name="variantId" value="17441893" />

                                                            <button (click)="addToCart(phone)" class="btn btn-buy btn-transition btn-cart btn_buy add_to_cart btn-accent" title="Mua hàng">
                                                                <span>
                                                                    <i class="fa fa-shopping-cart"></i> Mua hàng</span>
                                                            </button>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!--/div-->
                                    <!--/div-->


                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="row ">





                        <!-- Giới hạn hiển thị 2 cột bằng nhau -->



                        <!-- Kiểm tra số sản phẩm trong collection hiển thị -->



                        <!-- end kiểm tra -->

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 small_module_gallery ">
                            <div class="module-header ">
                                <h2 class="module-title title-style-4 ">
                                    <a href="frontpage " title="Bộ sưu tập Laptop ">
                                        <span>Phụ kiện Laptop</span>
                                    </a>
                                </h2>
                            </div>
                            <div class="module-content ">

                                <div *ngIf="laptopAccessories" class="list-items" data-lg-items="1
                                                            " data-md-items="1 " data-sm-items="1 " data-xs-items="1 " data-xxs-items="1 "
                                    data-nav="true " data-auto-play="true " data-auto-height="true ">





                                    <div class="item">























                                        <div *ngFor="let product of laptopAccessories"  class="product-box product-list-item item-small ">
                                            <div class="product-thumbnail ">
                                                <a routerLink="detail/{{product.data.id}}" title="{{product.data.name}}">
                                                    <picture class="dp-flex ">
                                                        <img class="img-responsive " src="{{product.data.thumb}}" alt="{{product.data.name}}">

                                                    </picture>
                                                </a>
                                            </div>
                                            <div class="product-info ">
                                                <h3 class="product-name text2line ">
                                                    <a routerLink="detail/{{product.data.id}}" title="{{product.data.name}}">
                                                        {{product.data.name}}
                                                    </a>
                                                </h3>

                                                <div class="product-summary text3line ">
                                                    {{product.data.snippet}}

                                                </div>

                                                <div class="price-box price-loop-style ">



                                                    <span class="special-price ">
                                                        <span class="price ">{{product.data.price}}₫</span>
                                                    </span>
                                                    <span class="old-price ">
                                                        <span class="price ">

                                                        </span>
                                                    </span>



                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                    <!-- ADD DIV -->



                                </div>

                            </div>
                        </div>





                        <!-- Giới hạn hiển thị 2 cột bằng nhau -->



                        <!-- Kiểm tra số sản phẩm trong collection hiển thị -->



                        <!-- end kiểm tra -->

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 small_module_gallery ">
                            <div class="module-header ">
                                <h2 class="module-title title-style-4 ">
                                    <a href="san-pham-noi-bat " title="Bộ sưu tập Điện thoại ">
                                        <span>Phụ kiện Điện thoại</span>
                                    </a>
                                </h2>
                            </div>
                            <div class="module-content ">

                                <div *ngIf="phoneAccessories" class="list-items" data-lg-items="1
                                                            " data-md-items="1 " data-sm-items="1 " data-xs-items="1 " data-xxs-items="1 "
                                    data-nav="true " data-auto-play="true " data-auto-height="true ">





                                    <div class="item ">























                                        <div *ngFor="let product of phoneAccessories" class="product-box product-list-item item-small ">
                                            <div class="product-thumbnail ">
                                                <a routerLink="detail/{{product.data.id}}" title="{{product.data.name}}">
                                                    <picture class="dp-flex ">

                                                        <img class="img-responsive " src="{{product.data.thumb}}"
                                                            alt="{{product.data.name}}">

                                                    </picture>
                                                </a>
                                            </div>
                                            <div class="product-info ">
                                                <h3 class="product-name text2line ">
                                                    <a routerLink="detail/{{product.data.id}}" title="{{product.data.name}}">
                                                        {{product.data.name}}
                                                    </a>
                                                </h3>

                                                <div class="product-summary text3line ">

                                                    {{product.data.snippet}}

                                                </div>











                                                <div class="price-box price-loop-style ">



                                                    <span class="special-price ">
                                                        <span class="price ">{{product.data.price}}₫</span>
                                                    </span>
                                                    <span class="old-price ">
                                                        <span class="price ">

                                                        </span>
                                                    </span>



                                                </div>
                                            </div>
                                        </div>
                                    </div>







                                    


                                    <!-- ADD DIV -->



                                </div>

                            </div>
                        </div>

                    </div>

                </div>



                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-md-pull-9 col-md-pull-9 ">



                    <div class="aside-item sidebar_support ">
                        <div class="module-header ">
                            <h2 class="module-title title-style-3 padding-right-0 ">
                                <span>Hỗ trợ trực tuyến</span>
                            </h2>
                        </div>
                        <div class="module-content ">








                            <div class="item ">
                                <div class="item_image ">
                                    <img src="http://bizweb.dktcdn.net/100/305/798/themes/650335/assets/item_1_image.png?1522816147817
                                                            " class="img-responsive " alt="tu-van-ban-hang-1 ">
                                </div>
                                <div class="item_desc ">
                                    <div class="item_title ">
                                        Tư vấn bán hàng 1
                                    </div>
                                    <div class="item_sum ">
                                        <label class="item_detail ">
                                            Mr. Long:
                                        </label>
                                        <a class="item_check " href="tel:0962.970.238 " title="0962.970.238 ">
                                            0962.970.238
                                        </a>
                                    </div>
                                </div>
                            </div>









                            <div class="item ">
                                <div class="item_image ">
                                    <img src="http://bizweb.dktcdn.net/100/305/798/themes/650335/assets/item_2_image.png?1522816147817
                                                            " class="img-responsive " alt="tu-van-ban-hang-2 ">
                                </div>
                                <div class="item_desc ">
                                    <div class="item_title ">
                                        Tư vấn bán hàng 2
                                    </div>
                                    <div class="item_sum ">
                                        <label class="item_detail ">
                                            Mr. Kiệt:
                                        </label>
                                        <a class="item_check " href="tel:0962.970.239 " title="0962.970.239 ">
                                            0962.970.239
                                        </a>
                                    </div>
                                </div>
                            </div>









                            <div class="item ">
                                <div class="item_image ">
                                    <img src="http://bizweb.dktcdn.net/100/305/798/themes/650335/assets/item_3_image.png?1522816147817
                                                            " class="img-responsive " alt="email-lien-he ">
                                </div>
                                <div class="item_desc ">
                                    <div class="item_title ">
                                        Email liên hệ
                                    </div>
                                    <div class="item_sum ">
                                        <label class="item_detail ">

                                        </label>
                                        <a class="item_check " href="mailto:support@lokishop-2018.firebaseapp.com
                                                            " title="support@lokishop-2018.firebaseapp.com ">
                                            support@lokishop-2018.firebaseapp.com
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>








                    <!-- Kiểm tra số sản phẩm trong collection hiển thị -->



                    <!-- end kiểm tra -->



                </div>
            </div>
        </div>
    </section>
</section>




<section class="awe-section-4 ">
    <section class="section-banner banner-item ">
        <div class="container ">
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="module-content ">
                        <a href="# " title=" ">
                            <figure>
                                <img src="http://bizweb.dktcdn.net/100/305/798/themes/650335/assets/index_large_banner.png?1522816147817
                                                            " class="img-responsive " alt="LokiShop-2018 ">
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>




<section class="awe-section-5 ">





    <section class="section-recommend-products ">
        <div class="container ">
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="module-header ">
                        <h2 class="module-title title-style-3 ">
                            <a href="san-pham-noi-bat " title="Sản phẩm giới thiệu ">
                                <span>Sản phẩm giới thiệu</span>
                            </a>
                        </h2>
                    </div>
                    <div class="module-content" style="width: 115%">
                        <!--Hiển thị phones mới nhất-->
                        <div id="discountProducts" class="list-items">
                            <!--div class="owl-item" style="width:212px;" *ngFor="let phone of phones">
                                <div class="owl-item"-->

                            <div *ngFor="let phone of discountProducts" class="list-item" style="width: 212px;">
                                <div class="item">

                                    <div class="product-box product-grid-item">
                                        <div class="product-thumbnail">

                                            <a routerLink="/detail/{{phone.data.id}}" title="{{phone.data.name}}">
                                                <picture class="dp-flex">
                                                    <img class="img-responsive" style="width:181.99px;height:181.99px;" src="{{phone.data.thumb}}" alt="{{phone.data.name}}"
                                                    />

                                                </picture>
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h3 class="product-name text1line">
                                                <a routerLink="/detail/{{phone.data.id}}" title="{{phone.data.name}}">
                                                    {{phone.data.name}}
                                                </a>
                                            </h3>
                                            <div class="price-box price-loop-style">
                                                <span class="special-price">
                                                    <span class="price">{{phone.data.sale_price | number}}₫</span>
                                                </span>
                                                <span class="old-price">
                                                    <span class="price">
                                                        {{phone.data.price | number}}₫
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="product-action-btn product-action">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-11250190" enctype="multipart/form-data">
                                                    <input class="hidden" type="hidden" name="variantId" value="17441893" />

                                                    <button (click)="addToCart(phone)" class="btn btn-buy btn-transition btn-cart btn_buy add_to_cart btn-accent" title="Mua hàng">
                                                        <span>
                                                            <i class="fa fa-shopping-cart"></i> Mua hàng</span>
                                                    </button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--/div-->
                            <!--/div-->


                        </div>
                        <!--Hiển thị laptops mới nhất-->
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!--app-footer></app-footer-->