
<section class="menu cid-qMWBE73CTl" once="menu" id="menu1-e">


  <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
    <div class="menu-logo">
      <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                         <img src="assets/images/logo-3-122x122.jpg" alt="LokiShop" title="LokiShop"
                              style="height: 3.8rem;">
                    </a>
                </span>
        <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="/">LokiShop</a></span>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
        <li class="nav-item dropdown">
          <a class="nav-link link text-white dropdown-toggle display-4" href="lokishop-2018.firebaseapp.com"
             data-toggle="dropdown-submenu" aria-expanded="false">
            <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
            Services
          </a>
          <div class="dropdown-menu"><a class="text-white dropdown-item display-4" href="lokishop-2018.firebaseapp.com">New
            Item</a></div>
        </li>
        <li class="nav-item">
          <a class="nav-link link text-white display-4" href="lokishop-2018.firebaseapp.com">
            <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>
            About Us
          </a>
        </li>
      </ul>
      <div class="navbar-buttons mbr-section-btn">
        <a class="btn btn-sm btn-primary display-4" href='/login'>
        <span class="mbri-save mbr-iconfont mbr-iconfont-btn "></span>
        Đăng Nhập
      </a></div>
    </div>
  </nav>
</section>

<section class="mbr-section content5 cid-qN2LeZYUze mbr-parallax-background" id="content5-w">


  <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(51, 51, 51);">
  </div>

  <div class="container">
    <div class="media-container-row">
      <div class="title col-12 col-md-8">
        <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">
          LokiShop</h2>
        <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Chinh phục mọi
          ánh nhìn!</h3>
        <p class="mbr-text align-center mbr-white pb-3 mbr-fonts-style display-7">
          Chuyên cung cấp phụ kiện chính hãng &amp; nhận order các thương hiệu cao cấp</p>
        <div class="mbr-section-btn align-center"><a class="btn btn-success display-4" href="lokishop-2018.firebaseapp.com"><span
          class="mbri-shopping-bag mbr-iconfont mbr-iconfont-btn"></span>Mua sản phẩm</a>
          <a class="btn btn-white-outline display-4" href="lokishop-2018.firebaseapp.com"><span
            class="mbri-paper-plane mbr-iconfont mbr-iconfont-btn"></span>Order sản phẩm</a></div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-gallery mbr-slider-carousel cid-qNv8umrOTW" id="gallery2-y">


  <div class="container">
    <div><!-- Filter -->
      <div class="mbr-gallery-filter container gallery-filter-active">
        <ul  buttons="0">
          <li class="mbr-gallery-filter-all"><a class="btn btn-md btn-primary active display-7" href="">Tất cả</a>
          </li>
        </ul>
      </div>
      <!-- Gallery -->
      <div class="mbr-gallery-row">
        <div class="mbr-gallery-layout-default">
          <div>
            <div>
			  
              <div *ngFor="let phone of phones" class="mbr-gallery-item mbr-gallery-item--p2" data-video-url="false" data-tags="Dành cho phone">
                <div href="#lb-gallery2-y" data-slide-to="0" data-toggle="modal"><img src="{{phone.data.imageUrl}}"
                                                                                      alt=""><span
                  class="icon-focus"></span>
                  <a routerLink="/detail/{{phone.data.id}}">
                  <span
                  class="mbr-gallery-title mbr-fonts-style display-7">{{phone.data.name}}</span>
                </a>
                </div>
              </div>
			 
              <div *ngFor="let phone of phones" class="mbr-gallery-item mbr-gallery-item--p2" data-video-url="false" data-tags="Tablet">
                <div href="#lb-gallery2-y" data-slide-to="4" data-toggle="modal"><img src="{{phone.data.imageUrl}}"
                                                                                      alt=""><span
                  class="icon-focus"></span>
                  <a routerLink="/detail/{{phone.data.id}}">
                  <span
                  class="mbr-gallery-title mbr-fonts-style display-7">{{phone.data.name}}</span>
                </a>
                </div>
              </div>
              
              
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!--Lightbox -->
      <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true"
           data-interval="false" id="lb-gallery2-y">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <ol class="carousel-indicators">
                <li data-app-prevent-settings="" data-target="#lb-gallery2-y" class=" active" data-slide-to="0"></li>
                <li data-app-prevent-settings="" data-target="#lb-gallery2-y" data-slide-to="1"></li>
                <li data-app-prevent-settings="" data-target="#lb-gallery2-y" data-slide-to="2"></li>
                <li data-app-prevent-settings="" data-target="#lb-gallery2-y" data-slide-to="3"></li>
                <li data-app-prevent-settings="" data-target="#lb-gallery2-y" data-slide-to="4"></li>
                <li data-app-prevent-settings="" data-target="#lb-gallery2-y" data-slide-to="5"></li>
                <li data-app-prevent-settings="" data-target="#lb-gallery2-y" data-slide-to="6"></li>
                <li data-app-prevent-settings="" data-target="#lb-gallery2-y" data-slide-to="7"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active"><img src="assets/images/gallery00.jpg" alt=""></div>
                <div class="carousel-item"><img src="assets/images/gallery01.jpg" alt=""></div>
                <div class="carousel-item"><img src="assets/images/gallery02.jpg" alt=""></div>
                <div class="carousel-item"><img src="assets/images/gallery03.jpg" alt=""></div>
                <div class="carousel-item"><img src="assets/images/gallery04.jpg" alt=""></div>
                <div class="carousel-item"><img src="assets/images/gallery05.jpg" alt=""></div>
                <div class="carousel-item"><img src="assets/images/gallery06.jpg" alt=""></div>
                <div class="carousel-item"><img src="assets/images/gallery07.jpg" alt=""></div>
              </div>
              <a class="carousel-control carousel-control-prev" role="button" data-slide="prev"
                 href="#lb-gallery2-y"><span class="mbri-left mbr-iconfont" aria-hidden="true"></span><span
                class="sr-only">Previous</span></a><a class="carousel-control carousel-control-next" role="button"
                                                      data-slide="next" href="#lb-gallery2-y"><span
              class="mbri-right mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Next</span></a><a
              class="close" href="#" role="button" data-dismiss="modal"><span class="sr-only">Close</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--app-phone-search></app-phone-search-->
