<section class="overview">
    <div class="container">
        <div *ngFor="let phone of phones">
            <i class="fa fa-mobile"></i>
            <h2>
              <a routerLink="/detail/{{phone.data.id}}">{{phone.data.name}}</a>
            </h2>
            <p>{{phone.data.snippet}}</p>
        </div>
    </div>
</section>
<!--
<h2>My Phones</h2>
<div>
  <label>Phone details:
    <input #phoneName />
	<input #phoneId />
	<input #phoneAge />
	<input #phoneImageUrl />
	<input #phoneSnippet />
  </label>
  <!-- (click) passes input value to add() and then clears the input
  <button (click)="add(phoneId.value, phoneName.value, phoneAge.value, phoneImageUrl.value, phoneSnippet.value); phoneName.value=''; phoneId.value=''; 
  phoneAge.value=''; phoneImageUrl.value=''; phoneSnippet.value=''">
    add
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let phone of phones">
  <a routerLink="/detail/{{phone.data.id}}">
    <span class="badge">{{phone.data.id}}</span> {{phone.data.name}}
  </a>
  <button class="delete" title="delete phone"
    (click)="delete(phone)">x</button>
  </li>
</ul>
-->